{% extends "mystudy_base.html" %}
{% load tagging_tags %}
{% load markup %}

{% block content %}
    <h5>Course For <a href={{ topic.person.get_absolute_url }}>{{ topic.person }}</a></h5>

	<h2>{{ topic.title }}</h2>
    
    
	
    <div id="topic-description">
    
    {{ topic.description|markdown }}

    </div>

{% if request.user == topic.person.user %}

    <p>Status: {{ topic.get_status_display }} | Deadline: {{ topic.deadline|date }} - Changed:{{ topic.dmod_count }}
 <a href={% url topic_edit topic.person.user topic.slug %}>Edit Topic</a></p>

    {% endif %}

<p> Filed Under
 <a href={{ topic.category.get_absolute_url }}>{{ topic.category }}</a> on
 {{ topic.created|date:"d/m/y P" }}
     </p>
    
    {% tags_for_object topic as tags %}




        <ul class="tag-list">
    Tags:
        {% for tag in tags %}
        
            <li><a href={% url topic_tags_detail tag.name %}>{{ tag.name }}</a></li>

        {% endfor %}
        </ul>




    <hr />

    <div class="content-list pull-left half tdp">

            <h3>Notes - {{ update_list.count }}</h3>

            {% if request.user == topic.person.user %}
            
            <input class="hide" type="button" id="update-trigger" value="Add Note" />

            <form class="absolute" id="update-form" action="{% url topic_update_create topic.person.user topic.slug %}" method="POST">{% csrf_token %}
                <div id="update-wrapper">
            
                        {{ update_form.as_p }}


                        <input id="update-submit" type="submit" value="Submit" />

                        <input type="reset" value="Reset" />

                </div>
        
            </form>
    

            {% endif %}

            <br />

            
            <span class="view-input">
                <input type="checkbox" class="hide" value="Updates Only" />
                <a href={% url topic_updates topic.person.user topic.slug %}>Notes Only</a>
            </span>
            <input class="hide expand-trigger" type="button" value="Expand All" />
            <select class="list-sort">
                <option value="def" default>Order By...</option>
                <option value="Newest" >Newest</option>
                <option value="Oldest">Oldest</option>
                <option value="AZ">A to Z</option>
                <option value="ZA">Z to A</option>
            </select>

    

            {% include "includes/update_list_inc.html" %}

    </div>



    <div class="content-list pull-right half tdp">


        <h3>Resources - {{ tr_list.count }}</h3>

            {% if request.user == topic.person.user %}

            <input class="hide" type="button" id="tr-trigger" value="Add Resource" />
  
            <form class="absolute" id="tr-form" action="{% url topic_resource_create topic.person.user topic.slug %}" method="POST">{% csrf_token %}
                <div id="tr-wrapper">

                    {{ tr_form.as_p }}

                    <input id="tr-submit" type="submit" value="Submit" />
                    <input type="reset" value="Reset" />


                </div>
            </form>

            {% endif %}

            <br />
 
            <span class="view-input">
                <input type="checkbox" class="hide" value="Resources Only" />
                <a href={% url topic_resources topic.person.user topic.slug %}>Resources Only</a>
            </span>
            <input class="hide expand-trigger" type="button" value="Expand All" />
            <select class="list-sort">
                <option value="def" default>Order By...</option>
                <option value="Newest" >Newest</option>
                <option value="Oldest">Oldest</option>
                <option value="AZ">A to Z</option>
                <option value="ZA">Z to A</option>
            </select>
    

                {% include "includes/tr_list_inc.html" %}

    </div>




{% endblock %}

{% block footer-scripts %}

<script type="text/javascript">



jQuery('.content * form').addClass('hide absolute');

jQuery('#update-trigger').click(function() {
    if (jQuery('#update-form').hasClass('hide')) {
        jQuery('#update-form').removeClass('hide');
        jQuery('input#update-trigger').attr("value", 'Cancel Note');
    }
    else {
        jQuery('#update-form').addClass('hide');
        jQuery('#update-form')[0].reset();
        jQuery('input#update-trigger').attr("value", 'Add Note');
    }
});

jQuery('#tr-trigger').click(function() {
    if (jQuery('#tr-form').hasClass('hide')) {
        jQuery('#tr-form').removeClass('hide');
        jQuery('input#tr-trigger').attr("value", 'Cancel Resource');
    }
    else {
        jQuery('#tr-form').addClass('hide');
        jQuery('#tr-form')[0].reset();
        jQuery('input#tr-trigger').attr("value", 'Add Resource');
    }
});

function addUpdate(e) {
    e.preventDefault();
    var form = jQuery(e.target);
    jQuery.ajax({
        url: form.attr('action'),
        type: form.attr('method'),
        data: form.serialize(),
        dataType: 'json',
        success: function(data, responseStatus, jqXHR){
            var r = data;
            $("ul.update-list").prepend(r.html);
            $('#update-form')[0].reset();
            $('input#update-trigger').attr("value", 'Add Update');
            $('#update-form').addClass('hide');
        }
    });
};

jQuery("form#update-form").submit(function(e){
    addUpdate(e);
});


function addTR(e) {
    e.preventDefault();
    var form = jQuery(e.target);
    jQuery.ajax({
        url: form.attr('action'),
        type: form.attr('method'),
        data: form.serialize(),
        dataType: 'json',
        success: function(data, responseStatus, jqXHR){
            var r = data;
            $("ul.tr-list").prepend(r.html);
            $('#tr-form')[0].reset();
            $('input#tr-trigger').attr("value", 'Add Update');
            $('#tr-form').addClass('hide');
        }
    });
};

jQuery("form#tr-form").submit(function(e){
    addTR(e);
});
</script>

{% endblock %}