{% extends "people_base.html" %}

{% block content %}
    <h1>Browse Through Members</h1>

    <div class="content-list">
        <ul>
            {% for t in person_list %}
                <li>
                <p><a href={{ t.get_absolute_url }}>{{ t.user }}</a>- Member Since {{ t.user.date_joined }}</p>
                <a href='{% url personalresource_list t.user %}'>User Resources</a> | <a href='{% url user_topic_list t.user %}'>User Topics</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}