{% load markup %}

<div class="content-list topic-list">

<ul>
            {% for t in topic_list %}
                
                <li>
                <a href={{ t.get_absolute_url }}><h5>{{ t.title }}</h5></a>
                 <span class="ns">{{ t.description|markdown }}
<p>Added {{ t.created|date:"d/m/y-f a" }} in <a href={{ t.category.get_absolute_url }}>{{ t.category }}</a>
<span id="pinfo"> by <a href="{{ t.person.get_absolute_url }}">{{ t.person }}</a></span></p>
                </span>
                </li>
            
            {% empty %}

                <p>No topics</p>

            {% endfor %}
</ul>

</div>