{% load markup %}

<div class="content-list update-list">

<ul class="ocl">
    {% for u in update_list %}
    
        <li>
             <h5>{{ u.title }}</h5>
            <p>Added {{ u.added|date:"d/m/y f a" }}
             {% if request.user == topic.person.user %}
| <a href="{% url topic_update_delete topic.slug u.id %}">Delete</a>
 <a href="{% url topic_update_edit topic.slug u.id %}">Edit</a>
             {% endif %}</p>
             <span class="oc">{{ u.comment|markdown }}</span>
        </li>


    {% empty %}

        <p>No updates yet.</p>
    
    {% endfor %}
</ul>

</div>
