<!DOCTYPE html>
<html lang="en">
<head>

 <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css">
 <link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}css/style.less">
 <link rel="icon" type="image/png" href="{{ STATIC_URL }}images/cs-icon.png">
        
  <script src="{{ STATIC_URL }}js/less.js" type="text/javascript"></script>
  
 <title>{% block title-tag %}CourseSlate{% endblock %}</title>

<!-- start Mixpanel --><script type="text/javascript">var mpq=[];mpq.push(["init","708d33e3e3c6d576a328c08169bdce05"]);(function(){var b,a,e,d,c;b=document.createElement("script");b.type="text/javascript";b.async=true;b.src=(document.location.protocol==="https:"?"https:":"http:")+"//api.mixpanel.com/site_media/js/api/mixpanel.js";a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(b,a);e=function(f){return function(){mpq.push([f].concat(Array.prototype.slice.call(arguments,0)))}};d=["init","track","track_links","track_forms","register","register_once","identify","name_tag","set_config"];for(c=0;c<d.length;c++){mpq[d[c]]=e(d[c])}})();
</script><!-- end Mixpanel -->

</head>

<body>

<div class="header">
  <div class="header-inner">
    <div class="container-fluid">
    
	    <a href='/'><h1>Course<span>Slate</span></h1></a>
   

    <span class="pull-right">

    {% if request.user.is_authenticated %}


                <a href={% url topic_create %}>Add A Topic</a> 

                <a href={% url personalresource_create %}>Add A Resource</a>


    {% else %}

            <a href="/accounts/register/">Sign Up For An Account</a>      

    {% endif %}

    </span>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="subheader">
    <div class="subheader-inner">

    
    {% if request.user.is_authenticated %}
            <a id="current-user" href="/people/{{ request.user }}/">{{ request.user }}</a>, <a href="/people/edit-profile/">Edit Your Profile</a>, <a href="/accounts/logout/">Logout</a>

    {% else %}



            {% include "registration/login_form.html" %}



    {% endif %}

    

    <span class="pull-right">

        <a href="/about/">About</a> |
        <a href="/contact/">Contact</a>
    

    </span>

    </div>
  </div>
   
  <div class="main-nav">
    <ul>
      <li><a id="courselink" href="/topics/">Courses</a></li>
      <li><a id="resourcelink" href="/resources/">Resources</a></li>
      <li><a id="taglink" href="/tags/">Tags</a></li>
      <li><a id="peoplelink" href="/people/">People</a></li>
    </ul>
  </div>

  <div class="sidebar">
  {% load people_tags %}

        
    {% if request.user.is_authenticated %}
        


    <div class="side-head">

        <a href="{% url user_topic_list request.user %}"><h3>Recently Viewed Courses</h3></a>

    </div>

            {% person_topics request.user.username %}

    

    <div class="side-head">

        <a href="{% url personalresource_list request.user %}"><h3>Your Resources</h3></a>

        {% resource_options request.user.username %}
 
    </div>

       

                {% person_resources request.user.username %}

     
    

        {% else %}

           <a href="/accounts/register/"><h3>Sign Up for an Account</h3></a>


    
    <div class="side-head">
    <a href="{% url topic_list %}"><h3>Recent Topics</h3></a>
    </div>
            {% all_topics %}

    

    <div class="side-head">

        <a href="{% url resource_list %}"><h3>Recent Resources</h3></a>
 
    </div>


                {% all_resources %}




        {% endif %}
    

    {% block sidebar %}{% endblock %}
  </div>

  <div class="sectionhead">
  
        {% block sectionhead %}{% endblock %}

  </div>

  <div class="content">

      {% block content %}{% endblock %}

  </div>


    
  <div class="footer span16">
    {% block footer %}
    <hr>
    {% endblock %}
  </div>

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.3/jquery.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/ocl.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/res-fetch.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tinysort.min.js"></script>
  <script type="text/javascript">site_url = 'http://localhost:8000/'</script>  
    {% block footer-scripts %} {% endblock %}

  </div>

</body>
</html>